$backgroundColor: #c5ccd5;
$bodyColor: #fff;
$svgColor: #162A44;
$bodyFont:'Karla', sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  padding: 47px 288px 124px 251.4px;
}

footer {
  position: fixed;
  bottom: 0;
}

nav {
  //position: fixed;
  display: flex;
  justify-content: space-between;
  
  a {
    color: $svgColor;
    text-decoration: none;
    img {
      min-width: 100px;
      height: 50px;
    }
    &:hover{
      color:$bodyColor
    }
  }
  .nav-links {
    display: flex;
    a{
      margin: 15px 32px 0 0;
      font-weight: bold;
      align-items:flex-end;

    }
  }
}

.grid-container{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5,1fr );
}

.conference-title{
  width: 441px;
   height: 320px;
  margin: 0 0 44px;
  font-size: 84px;
  font-family: $bodyFont;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: -2px;
  text-transform: capitalize;
}

.online{
  width: 102px;
  height: 52px;
  margin: 0 6px 0 0;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -1.6px;
}