$backgroundColor: #c5ccd5;
$bodyColor: #fff;
$svgColor: #162A44;
$bodyFont:'Karla', sans-serif;
$primaryColor: #f24440;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  padding: 47px 288px 124px 251.4px;
}

//footer
footer {
  position: fixed;
  bottom: 0;
}

//nav

nav {
  //position: fixed;
  display: flex;
  justify-content: space-between;
  
  a {
    color: $svgColor;
    text-decoration: none;
    img {
      min-width: 100px;
      height: 50px;
    }
    &:hover{
      color:$bodyColor
    }
  }
  .nav-links {
    display: flex;
    a{
      margin: 15px 32px 0 0;
      font-weight: bold;
      align-items:flex-end;

    }
  }
}

//main page
.grid-container{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5,1fr );
}

.conference-title{
  width: 441px;
  height: 320px;
  margin: 0 0 44px;
  font-size: 84px;
  font-family: $bodyFont;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: -2px;
  text-transform: capitalize;
}

.three{
display: flex;
}

.online{
  width: 102px;
  height: 52px;
  margin: 0 6px 0 0;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -1.6px;
}

.oval{
  height: 12px;
  width: 12px;
  background-color: $primaryColor;
  border-radius: 50%;
  display: inline-block;
}
.five{
  position: relative;
}

.red{
  width: 390px;
  height: 331px;
  margin: 0 0 12px 9px;
  padding: 13px 15px 37px 24px;
  //padding: 37px 24px 13px 15px;
  background-color: $primaryColor;
  // position: absolute;
  // z-index: 2;
}

.white{
  width: 390px;
  height: 334px;
  margin: 0 0 0 -50px;
  //padding: 15px 37px 24px 13px;
  //padding: 13px 15px 37px 24px;
  padding: 15px 37px 24px 13px;
  //padding: 37px 24px 13px 15px;
  background-color: $bodyColor;
  // position:absolute;
  // z-index: 1;
}

.main-text{
  width: 351px;
  height: 281px;
  font-family: $bodyFont;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #000000;
  padding: 13px 15px 25px 25px;
}

.about-text{
  width: 46px;
  height: 18px;
 margin: -330px 471px 0 -50px;
 text-transform: capitalize;
  //margin: 0 471px 630px 0;
  //transform: rotate(-90deg);
  //writing-mode: vertical-rl;
  font-family: $bodyFont;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display:block;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
}